body {
  font-family: system-ui;
  background: #000000;
  color: white;
  text-align: center;
  overflow-x: hidden;
}

.title {
  margin-top: 4rem;
}

.container {
  padding-top: 10rem;
  padding-bottom: 10rem;
  font-size: 10rem;
  font-weight: bold;
}

.slide-left {
  animation: slideLeftAnimation both;
  animation-timeline: view();
}

@keyframes slideLeftAnimation {
  0% {
    transform: translateX(2000px);
  }

  50% {
    transform: translateX(0px);
  }
}

.slide-right {
  animation: slideRightAnimation both;
  animation-timeline: view();
}

@keyframes slideRightAnimation {
  0% {
    transform: translateX(-2000px);
  }

  50% {
    transform: translateX(0px);
  }
}
