* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.section {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &__1 {
    background-image: url(https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0e3917e828b7c2502b0041813eff1294&auto=format&fit=crop&w=634&q=80);
  }
  &__2 {
    background-image: url(https://images.unsplash.com/photo-1500886834366-f7311927c60d?ixlib=rb-0.3.5&s=ee967641c5015b17fcba0dfb6f73c400&auto=format&fit=crop&w=634&q=80);
  }
  &__3 {
    background-image: url(https://images.unsplash.com/photo-1501715865731-cf01f45a1420?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b5875ccef3704a914200d130718ccbb8&auto=format&fit=crop&w=675&q=80);
  }
  &__4 {
    background-image: url(https://images.unsplash.com/photo-1501848055256-c05f5545c9c0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0c36f1ae84bcbc88305619a41179e221&auto=format&fit=crop&w=634&q=80);
  }
}

.nav {
  color: #fff;
  font-size: 150px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  li {
    height: 150px;
    line-height: 150px;
  }
  &__fr {
    font-family: "Londrina Outline", cursive;
    left: 2px;
  }
  &__bc {
    font-family: "Londrina Solid", cursive;
  }
}

.nav__2 {
  transform: skewY(3deg);
}
ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
}

.line {
  position: absolute;
  width: 100%;
  height: 10px;
  background: #fff;
  z-index: 20000;
}
